{{!-- this code heavily cribbed from https://github.com/mordachai/investigation-board/blob/main/templates/drawing-sheet.html --}}

<form>
    <div class="form-group">
      <label for="text">Note Text:</label>
      <textarea name="text" rows="6">{{text}}</textarea>
    </div>

  
    <div class="form-group">
      <button type="submit" class="save-button">
        <i class="fas fa-save"></i> Save
      </button>
    </div>
  </form>